{% extends 'main.html' %}
{% block content %}

<div class="name">
    <a href="{{request.META.HTTP_REFERER}}">Go back home</a>
    <h1 class="chatting-with-user"> </h1>
</div>


<div class="messages">
    
   
      
    </div>



    <div class="send">
        <form class="textmessage" name="message" id= "{{user.id}}">
            {% csrf_token %}
            <input type="text" id= "body" name="body">
            <button type="submit">send</button>
        </form>


    </div>

</div>
<script>
   

    document.querySelector('form').addEventListener('submit',(e)=>{
        e.preventDefault()
        //  asign data in the page for sending with ajax
         let data = {
       csrfmiddlewaretoken: document.querySelector('input').value,
       body : document.getElementById('body').value
    }
    
       body : document.getElementById('body').value = "";
    const user = document.querySelector('form').id
    const url = `/message/${user}/`
    sender(url,data)
    
    });


    
const getter=() =>{
        const ajax = new XMLHttpRequest()
        ajax.onreadystatechange = reqHandler
        function reqHandler(){
         if(ajax.readyState == XMLHttpRequest.DONE)
         {if(ajax.status === 200){
                const messages  = JSON.parse(ajax.responseText);  
                
                

const body = document.querySelector('body')
const div = document.querySelector('.messages')
let name = ""
 

// const yourName =  messages.users.map((user)=>{
//  if (user.id == msg.sender_id){return(user.username)}else{return "you";}});
const read = document.querySelectorAll('.message')
if(read){read.forEach((r)=>{
r.remove()
})}
messages.message.map((msg)=>{
    
    let className = ""
if(msg.sender_id == messages.owner_id)
{  
    className = "sent"
}
else{
    messages.users.map((user)=>{
 if(user.id == msg.sender_id)
 {
    name = user.username;
   
    document.querySelector('.chatting-with-user').innerHTML = name;
    className = "recieved"
 }
    });
}
 const newMessage = document.createElement('div')
const addedMessage = div.appendChild(newMessage)
const element = document.createElement('p')
const para = addedMessage.appendChild(element)
para.innerHTML = ` ${msg.body}`
para.className = "message"
para.classList.add(className);
// console.log(msg.body)
});
            }
         }
        }

ajax.open('GET','ajax/')
ajax.send()

    } 

    
 setInterval(getter,2000);

getter()





const sender = (url,data) =>{
  
 const ajax = new XMLHttpRequest()
 ajax.onreadystatechange =reqHandler
 
 
 function reqHandler(){ 
        if(ajax.readyState === XMLHttpRequest.DONE){
       if(ajax.status === 200){
    //  const me  = JSON.parse(ajax.responseText)
       }}

}
  ajax.open('POST',url);
    ajax.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    ajax.send(`csrfmiddlewaretoken=${data.csrfmiddlewaretoken}&body=${data.body}`);

}

</script>




{% endblock content %}
