<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>your chats</title>
</head>
<body>
    <H1> {{ request.user.username }}, Welcome to Talk to Me</H1>
    {% for chat in chats %}

  {% if chat.initiator == request.user %}
   <p> user  {{chat.reactor.username }} </p>
   {% elif chat.reactor == request.user %}
   <p> user {{chat.reactor.username }} </p>
   {% endif %}

    {% endfor %}
</body>
</html>