{% extends 'main.html'%}
{% block content %}

<header class="chats-header">
    <h4>Chats</h4>
</header>
<section class="chats">
    <div class="chat">
        <img src="images.jpg" alt="user profile">
        <div class="user_info">
            <h4 class="user-name">
                Bernaan
            </h4>
            <p class="latest-message">
                Hello friend can we meet today or what
            </p>
        </div>
    </div>

    <div class="chat">
        <img src="images.jpg" alt="user profile">
        <div class="user_info">
            <h4 class="user-name">
                Abel
            </h4>
            <p class="latest-message">
                Hey is every thing okay there.
            </p>
        </div>

    </div>
    <div class="chat">
        <img src="images.jpg" alt="user profile">
        <div class="user_info">
            <h4 class="user-name">
                Amani
            </h4>
            <p class="latest-message">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, vitae!
            </p>
        </div>
    </div>


    <div class="chat">
        <img src="images.jpg" alt="user profile">
        <div class="user_info">
            <h4 class="user-name">
                Batii
            </h4>
            <p class="latest-message">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, doloremque ratione.
            </p>
        </div>
    </div>


    <div class="start-chat">
        <h4>Start a new Chat</h4>
    </div>

    <div class="chat">
        <img src="images.jpg" alt="user profile">
        <div class="user_info">
            <h4 class="user-name">
                Humanaan
            </h4>

        </div>
    </div>
    <div class="chat">
        <img src="images.jpg" alt="user profile">
        <div class="user_info">
            <h4 class="user-name">
                BUBU
            </h4>
        </div>
    </div>

    <div class="chat">
        <img src="images.jpg" alt="user profile">
        <div class="user_info">
            <h4 class="user-name">
                Nardii
            </h4>

        </div>
    </div>
    <div class="chat">
        <img src="images.jpg" alt="user profile">
        <div class="user_info">
            <h4 class="user-name">
                Fayyo
            </h4>

        </div>
    </div>
</section>





{% endblock content %}