{% extends 'main.html'%}
{% load static %}
{% block content %}

<header class="chats-header">
    <a href="{% url  'logout' %}">Logout</a>
    <h4>Chats</h4>
</header>
<section class="chats">
    
{% for chat in chats %}
<div class="chat">
    <img src="{% static 'images.jpg'%}" alt="user profile">
    <div class="user_info">
        
        <h4 class="user-name">
            {% if chat.reactor == request.user %}
            <a href="?q={{chat.initiator.id}}">{{ chat.initiator }}</a>
{% elif chat.initiator == request.user %}
<a href="?q={{ chat.reactor.id}}">{{  chat.reactor }}</a>

 {% endif %}
        </h4>
        <p class="latest-message">
            Hello friend can we meet today or what
        </p>
    </div>
</div>
{% endfor %}
    <div class="start-chat">
        <h4>Start a new Chat</h4>
    </div>
{% for user in users %}
{% if user == request.user %}

{% else %}
    <div class="chat">
        <img src="{% static 'images.jpg'%}" alt="user profile">
        <div class="user_info">
           <a href="?q={{user.id}}">
            <h4 class="user-name">
             {{user.username }}   
            </h4>
        </a>
        </div>
    </div>
    {% endif %}
{% endfor %}
    </div>
</section>





{% endblock content %}