{% extends 'main.html'%}
{% block content %}
<header class="appname">
    <h1> Ha </h1>
</header>
<section class="reg-container">
    <form class="reg-form" action="" method="POST">
        {% csrf_token %}
        {% for item in form %}
        {{item.label_tag}}
<input type = "{% if item.name != 'username'  %}password{% endif %}"  name={{item.name}} placeholder={{item.label}}>
        {% endfor %}
        <input type="submit" value="register">
    </form>
    <a href="{% url 'login' %}" class="register-link">login</a>
</section>
{% endblock content %}